/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

/* Add your styles here */

.sub-title {
  margin-top: 2rem!important;
  padding: 0.5rem;
  background: #64b5f6;
  color: white;
}

.m input.error[type="text"]:not(.browser-default) {
  background-color: #ff000033 !important;
  border-bottom: 1px solid #995555 !important;
}

.m input.error[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff0000 !important;
  box-shadow: 0 1px 0 0 #ff0000 !important;
}

.sensor-found {
  animation: sensor-found 3s ease-out;
  animation-iteration-count: 1;

  -moz-animation: sensor-found 3s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: sensor-found 3s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: sensor-found 3s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes sensor-found {
  50% { background-color: #00ff00; }
}

@-webkit-keyframes sensor-found {
  50% { background-color: #00ff00; }
}

@-moz-keyframes sensor-found {
  50% { background-color: #00ff00; }
}

@-ms-keyframes sensor-found {
  50% { background-color: #00ff00; }
}

/* hide arrows in number inputs */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}